In [15]:
from JobGenerator import JobGenerator

In [16]:
gen = JobGenerator(jobs_lib="../sources/jobs_library.json",
                   citizen="../sources/all_citizen.csv",
                   nationality="../sources/nationality.csv",
                   education="../sources/education.csv",
                   citizen_dist="../sources/citizen_dist.csv")

In [17]:
curricula = gen.get_curricula(400, path="../outputs/curriculums.csv")

offers = gen.get_offers(40, path="./../outputs/offers.csv")

In [18]:
matrix_score = gen.ScoreFunction(offers,curricula, path="./../outputs/score.csv")

100%|██████████| 16000/16000 [00:01<00:00, 9626.93it/s]

In [19]:
matrix_score.sort_values("w_score",ascending=False)

,qId,kId,Education,SmartWork,Experience_abroad,City,Skills,Softskills,Age,Experience,Salary,Language,score,w_score,labels
14068,35,68,1.0,1,1,0.955902,1.00000,1.0,1.000000,0.666667,0,0.000000,7.695515,1.399125,9
10745,26,345,1.0,0,0,0.524282,0.93750,0.5,0.000000,1.000000,0,0.000000,3.928262,1.371945,9
13529,33,329,1.0,0,0,0.747342,0.75000,1.0,0.000000,1.000000,1,0.333333,5.897669,1.358473,9
3271,8,71,1.0,0,1,0.910534,1.00000,0.8,0.000000,1.000000,0,0.333333,6.310719,1.307025,9
10897,27,97,0.8,0,0,0.513322,0.90625,1.0,1.000000,1.000000,0,0.000000,5.480818,1.274075,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1398,3,198,0.4,0,1,0.819713,0.00000,0.0,0.571429,0.666667,1,0.000000,3.755699,-0.422358,0
14789,36,389,0.8,0,0,0.875773,0.00000,0.0,1.000000,0.333333,1,0.000000,3.883789,-0.438879,0
15479,38,279,1.0,1,1,0.977675,0.00000,0.0,0.000000,1.000000,0,0.000000,4.918774,-0.456119,0
1443,3,243,0.6,0,0,0.898227,0.00000,0.0,0.000000,0.666667,0,0.000000,2.143686,-0.516068,0
12418,31,18,0.4,0,0,0.734223,0.00000,0.0,0.000000,1.000000,0,0.000000,2.183547,-0.537247,0