In [2]:
import pandas as pd

In [3]:
joboffer = pd.read_csv("../outputs/jobOffers.csv")
curricula = pd.read_csv("../outputs/curricula.csv")
scores = pd.read_csv("../outputs/balanced_scores.csv")

In [3]:
joboffer[joboffer["qId"]==15]

,qId,Job,Education,City,Skills0,Skills1,Skills2,Skills3,Skills4,Softskills0,...,AgeMin,AgeMax,Language0,Language1,Language2,Certificates,YearExp,Offered_Salary,SmartWork,Experience_abroad
15,15,Market analyst,Bachelor D.,Isola di Fondra,Forecast,Analysis of competitors,Analysis of data,Analysis of trends,Strategies of the market,Customer orientation,...,25,33,French - C2,Spanish - A2,-,CFE,1,32500,0,1

In [4]:
curricula[curricula["kId"]==165]

,kId,IdealJob,Education,City,JobRange,Skills0,Skills1,Skills2,Skills3,Skills4,...,Softskills4,Age,Language0,Language1,Language2,Certificates,YearExp,Ideal_Salary,SmartWork,Experience_abroad
165,165,Market analyst,Bachelor D.,Garzigliana,80,Analysis of competitors,Forecast,-,-,-,...,-,33,French - C2,Finnish - B1,English - A2,"IELTS,CFE",1,48000,0,1

In [7]:
scores[(scores["qId"]==15) & (scores["kId"]==165)]

,qId,kId,Education,City,Skills,SoftSkills,Age,Language,Certificates,Experience,Salary,SmartWork,Experience_abroad,score,w_score,labels
3165,15,165,1.0,0.875322,0.4,1.0,1.0,0.5,1.0,1.0,0.0,0,1,7.719295,0.980025,4

In [4]:
scores.sort_values("w_score", ascending=False)

,qId,kId,Education,City,Skills,SoftSkills,Age,Language,Certificates,Experience,Salary,SmartWork,Experience_abroad,score,w_score,labels
2798,68,7,0.8,0.601032,1.00,1.000000,1.000000,0.000000,1.000000,1.0,1.0,0,0,7.437423,1.300112,4
1473,35,109,0.8,1.000000,1.00,1.000000,1.000000,1.000000,0.000000,1.0,1.0,0,0,7.817108,1.231069,4
2574,62,109,1.0,0.528805,0.75,0.666667,0.571429,0.166667,0.555556,1.0,1.0,0,0,6.131112,1.128894,4
297,7,10,1.0,0.527085,1.00,0.000000,1.000000,0.666667,0.000000,0.0,0.0,0,0,4.485352,1.112370,4
4020,98,65,1.0,0.493551,0.00,0.000000,0.714286,0.500000,0.000000,0.0,0.0,0,0,2.806755,1.100671,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,34,37,0.6,0.941531,0.00,0.000000,0.000000,0.000000,0.285714,0.0,1.0,0,0,2.878198,-0.450335,0
135,3,56,1.0,0.957868,0.00,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0,0,3.436411,-0.467260,0
2924,71,12,0.6,0.375752,0.00,0.000000,1.000000,0.000000,0.000000,0.0,1.0,0,0,2.925141,-0.485905,0
2850,69,22,0.8,0.208083,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0,0,1.293436,-0.499194,0
1335,32,67,1.0,0.941531,0.00,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0,0,1.712318,-0.581609,0